<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <link href="/static/css/style.css" type="text/css" rel="stylesheet">
        <link href="/static/css/style_about.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa%7cOpen+Sans" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.png" alt="Image is not available.">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/js/script.js"></script>
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        <title>About us</title>
    </head>

    <body>
        <p id="current_user">{{placeholder_current_user}}</p>

        <nav id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" id="close_nav" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/index/">Home</a>
            <a href="/about/">About</a>
            <a id="login" href="/login/">Log in</a>
            <a id="logout" href="/logout/">Log out</a>
        </nav>
    
        <div id="nav_pointer">
            <span id="open_nav" style="font-size:45px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>

        <header>
            <a href="/" id="front_page_link">
                <img src="/static/img/Levo_image_avenir.png" width=350 height=260 alt="Image is not available.">
            </a>
        </header>

        <div id="progress_status">
            <div id="progress_bar"></div>
        </div>

        <main>
            <h1>Who is LEVO?</h1>
            <p>LEVO was created by five Information Architecht students from Malmö University and is final product from the course System and Project Development 1. 
                The group consists of Erica Sjöberg, Lukas Jönsson, Victor Persson, Olof Takman and Beaudouin Audrey Nsolo.</p>
            <p>The product idea was founded in our shared interest with trying out new food recipes, and the fact that we had grown tired of the already non-inspiring websites. 
                The main purpose for the group is to create an Internet of Things product which works as a helping hand for the everyday hobby chef.</p>
            <p>HEJSAN, detta ska bort!</p>
        </main>

        <script>
            function openNav() {
            // Funktion for open navigation
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("nav_pointer").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
  
        function closeNav() {
            // Funktion for close navigation
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("nav_pointer").style.marginLeft= "0";
            document.body.style.backgroundColor = "rgba(0,0,0,0)";
        }
        </script>
    </body>
</html>
    