<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <link href="/static/css/style.css" type="text/css" rel="stylesheet">
        <link href="/static/css/style_about.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa%7cOpen+Sans" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.png" alt="Image is not available.">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/js/script.js"></script>
        <title>LEVO</title>
    </head>

    <body>
        <header>
            <img src="/static/img/LEVO_image.png" width="40%" height="40%">
        </header>
        <main>
            <h1>Who is LEVO?</h1>
            <p>LEVO was created by five Information Architecht students from Malmö University and is final product from the course System and Project Development 1. 
                The group consists of Erica Sjöberg, Lukas Jönsson, Victor Persson, Olof Takman and Beaudouin Audrey Nsolo. 
                The product idea was founded in our shared interest with trying out new food recipes, and the fact that we had grown tired of the already non-inspiring websites. 
                The main purpose for the group is to create an Internet of Things product which works as a helping hand for the everyday hobby chef.  </p>

        </main>
    </body>
</html>
    