<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <link href="/static/css/style.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Yantramanav:300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/swiper.min.css">
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.png" alt="Image is not available.">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/js/script.js"></script>
        <title>LEVO</title>
    </head>

    <body>

        <nav>
            <a href="/about/">About us</a>
            <a id="login" href="/login/">Log in</a>
            <a id="logout" href="/logout/">Log out</a>
        </nav>

        <header>
            <a href="/" id="front_page_link">
                <img src="/static/img/Levo_image_avenir.png" width=350 height=260 alt="Image is not available.">
            </a>
        </header>

        <div id="progress_status">
            <div id="progress_bar"></div>
        </div>

        <main>
            <article id="error_msg">
                <img src="/static/img/smiley.png" width=200 height="200" alt="Image is not available.">
                <h1>404</h1>
                <p>Page not found...</p>
                <a href="/">Bring me back!</a>
            </article>
        </main>
    </body>
</html>