<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Yantramanav:300&display=swap" rel="stylesheet">
        <title>LEVO</title>
        <link href="../static/css/style_home.css" type="text/css" rel="stylesheet">
    </head>

    <body>
        <div id="container">
            <article id="home_page">
                <img id="levo_logo" src="../static/img/Levo_image_avenir.png"  alt="LEVO LOGO not found">
                <div id="two_options">
                    <a href="/login/" class="home_links" id="login_link">Log in</a>
                    <a href="/index/" class="home_links" id="start_link">Get started</a>
                </div>
            </article>
        </div>   
    </body>
    
</html>