<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>LEVOOOO</title>
        <title>Welcome</title>
        <link href="../static/css/style_home.css" type="text/css" rel="stylesheet">

        <style>
            #container{
                background-image: url("/static/img/food1.jpg");  
            }
        </style>
    </head>


    <body>

        <div id="container">
            <!--<img src="/static/img/food.jpg" alt="Image is not available." width="100%">-->
            <h1>LEVO</h1>
            <p>Welcome to this great website!</p>
        </div>
    </body>
</html>