<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>LEVOOOO</title>
        <title>Welcome</title>
        <link href="../static/css/style_home.css" type="text/css" rel="stylesheet">

        <style>
            #container{
                background-image: url("/static/img/food1.jpg");  
            }
        </style>
    </head>


    <body>

        <div id="container">
            <div id="background_overlay">
                <article id="home_page">
                    <img src="/static/img/Levo_image_avenir.png" alt="LEVO LOGO not found">
                    <div id="two_options">
                        <a href="/login/" class="home_buttons">Log in</a>
                        <a href="/index/" class="home_buttons">Get started</a>
                    </div>
                </article>
            </div>
        </div>
    </body>
</html>