<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    <link rel="shortcut icon" type="image/png" href="static/img/favicon.png" alt="Image is not available.">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
    <script>
        var $SCRIPT_ROOT = "{{ request.script_name }}";

    </script>
    <title>LEVO</title>
    <!-- Must contain Swiper code -->
    <style>
        .swiper-container {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 60px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 350px;
            background: #1e272e;
            border-radius: 20px;
            overflow: hidden;
        }

    </style>
</head>

<body>
    <header id="nav_pointer">
        <span id="open_nav" style="font-size:45px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <a href="/index/">LEVO</a>
        <div id="profile_icon_image">
            <a href="/my_recipes/">
                <img alt="profile_icon" id="profile_icon" src="../static/img/profile_icon.png" width="60" height="60">
                <img alt="profile_icon_online" id="profile_icon_online" src="../static/img/profile_img.jpg" width="60" height="60">
            </a>
        </div>
        <h1 id="current_user">{{placeholder_current_user}}</h1>
    </header>

    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" id="close_nav" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/index/">Home</a>
        <a href="/about/">About</a>
        <a id="profile" href="/my_recipes/">Profile</a>
        <a id="login" href="/login/">Sign in</a>
        <a id="logout" href="/logout/">Log out</a>
    </nav>

    <main id="index_main">
        <div id="progress_status">
            <div id="progress_bar"></div>
        </div>
        
        <div id="questions">
            <form action="/generate/" method="POST" class="form">
                <h2 id="h2_q1" class="form_1">What do you crave?</h2>

                <div id="questions_1" class="form_1">

                    <div class="checkbox_items">
                        <div class="checkbox_item">
                            <label for="meat" class="container">Meat
                                <input type="checkbox" id="meat" name="meat" value="meat" {{checked_protein["meat"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox_item">
                            <label for="chicken" class="container">Chicken
                                <input type="checkbox" id="chicken" name="chicken" value="chicken" {{checked_protein["chicken"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox_item">
                            <label for="bird" class="container">Bird
                                <input type="checkbox" id="bird" name="bird" value="bird" {{checked_protein["bird"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox_item">
                            <label for="fish" class="container">Fish
                                <input type="checkbox" id="fish" name="fish" value="fish" {{checked_protein["fish"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox_item">
                            <label for="seafood" class="container">Seafood
                                <input type="checkbox" id="seafood" name="seafood" value="seafood" {{checked_protein["seafood"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox_item">
                            <label for="veg" class="container">Veg
                                <input type="checkbox" id="veg" name="veg" value="veg" {{checked_protein["veg"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox_item" id="dont_know">
                            <label for="p_dont_know" class="container">I'm not sure!
                                <input type="checkbox" id="p_dont_know" name="p_dont_know" value="p_dont_know" {{checked_protein["p_dont_know"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>


                <h2 id="h2_q2" class="form_1">Any preferences?</h2>

                <div id="questions_2" class="form_1">
                    <div class="checkbox_items">    
                        <div class="checkbox_item">
                            <label for="pasta" class="container">Pasta
                                <input type="checkbox" id="pasta" name="pasta" value="pasta" {{checked_carb["pasta"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="checkbox_item">
                            <label for="rice" class="container">Rice
                                <input type="checkbox" id="rice" name="rice" value="rice" {{checked_carb["rice"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="checkbox_item">
                            <label for="potato" class="container">Potato
                                <input type="checkbox" id="potato" name="potato" value="potato" {{checked_carb["potato"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="checkbox_item">
                            <label for="bread" class="container">Bread
                                <input type="checkbox" id="bread" name="bread" value="bread" {{checked_carb["bread"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>
  
                        <div class="checkbox_item">
                            <label for="vegetables" class="container">Vegetables
                                <input type="checkbox" id="vegetables" name="vegetables" value="vegetables" {{checked_carb["vegetables"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>     

                        <div class="checkbox_item">
                            <label for="c_dont_know" class="container">Don't care
                                <input type="checkbox" id="c_dont_know" name="c_dont_know" value="c_dont_know" {{checked_carb["c_dont_know"]}}>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="used_ids" value="{{placeholder_used_ids}}"/>

                <div id="buttons">
                    <button type="button" class="button form_1" id="previous">Previous question!</button>
                    <button type="button" class="button form_1" id="next">Next question!</button>
                </div>

                <div id="recipe_generator">
                    <button type="submit" class="button form_1" id="submit">Give me recipes, please!</button>
                    <button type="submit" class="button" id="submit_again">Give me new recipes, please!</button>
                </div>

            </form>
        </div>

        <div class="label-tag"><label for="your_recipe" id="label">Here's your recipes, enjoy!</label></div>
        <div class="swiper-container">
            <div class="swiper-wrapper" id="section1">
                <div class="swiper-slide">
                    <div class="imgBox">
                        <a href="{{placeholder_link_0}}" target="_blank" class="text-tag"><img src="{{placeholder_img_0}}"></a>
                        <input type="checkbox" class="star" data-recipe_id="{{placeholder_rid_0}}" data-title="{{placeholder_title_0}}" data-source_url="{{placeholder_link_0}}" data-image_url="{{placeholder_img_0}}" data-category="{{placeholder_category}}" {{recipe_saved_0}}>
                    </div>
                    <div class="details">
                        <a href="{{placeholder_link_0}}" target="_blank" class="text-tag">
                            <p id="result_check">{{placeholder_title_0}}</p>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide" id="center_slide">
                    <div class="imgBox">
                        <a href="{{placeholder_link_1}}" target="_blank" class="text-tag"><img src="{{placeholder_img_1}}"></a>
                        <input type="checkbox" class="star" data-recipe_id="{{placeholder_rid_1}}" data-title="{{placeholder_title_1}}" data-source_url="{{placeholder_link_1}}" data-image_url="{{placeholder_img_1}}" data-category="{{placeholder_category}}" {{recipe_saved_1}}>
                    </div>
                    <div class="details">
                        <a href="{{placeholder_link_1}}" target="_blank" class="text-tag">
                            <p>{{placeholder_title_1}}</p>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBox">
                        <a href="{{placeholder_link_2}}" target="_blank" class="text-tag"><img src="{{placeholder_img_2}}"></a>
                        <input type="checkbox" class="star" data-recipe_id="{{placeholder_rid_2}}" data-title="{{placeholder_title_2}}" data-source_url="{{placeholder_link_2}}" data-image_url="{{placeholder_img_2}}" data-category="{{placeholder_category}}" {{recipe_saved_2}}>
                    </div>
                    <div class="details">
                        <a href="{{placeholder_link_2}}" target="_blank" class="text-tag">
                            <p>{{placeholder_title_2}}</p>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
        </div>
    </main>

    <!-- Swiper JS -->
    <script src="../static/js/swiper.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            }, // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });

        function openNav() {
            // Function for open navigation
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("nav_pointer").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            $('#mySidenav').addClass('active');
        }

        function closeNav() {
            // Function for close navigation
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("nav_pointer").style.marginLeft = "0";
            document.body.style.backgroundColor = "rgba(0,0,0,0)";
            $('#mySidenav').removeClass('active');
        }

        $('#index_main').click( function() {
            closeNav();
        });

    </script>
</body>

</html>
