<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charser="utf-8">
        <link href="/static/css/style.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet">
        <title>LEVO</title>
    </head>
    <body>
        <div id="container">
            <header>
                <h1>LEVO</h1>
            </header>
            <main>
                <h2>What do you crave?</h2>
                <div class="radio_button_1">
                    <form action="/generate/" method="POST">
                        <input type="radio" id="meat" name="protein" value="meat" {{p_m_checked}}>
                        <label for="meat">Meat</label><br>
                        <input type="radio" id="bird" name="protein" value="bird" {{p_b_checked}}>
                        <label for="bird">Bird</label><br>
                        <input type="radio" id="sea" name="protein" value="sea" {{p_s_checked}}>
                        <label for="sea">Sea</label><br>
                        <input type="radio" id="veg" name="protein" value="veg" {{p_v_checked}}>
                        <label for="veg">Veg</label><br>
                        <input type="radio" id="dont_know" name="protein" value="dont_know" {{p_d_checked}}>
                        <label for="dont_know">Don't know</label>
                        <input type="hidden" name="used_ids" value="{{placeholder_used_ids}}"/>
                        <div id="button">
                            <button type="submit" class="button button5">Få recept!</button>
                        </div>
                        <p><a class="{{placeholder_hidden}}" href="{{placeholder_link}}" target="_blank">Ditt recept!</a></p>
                        <img class="{{placeholder_hidden}}" src="{{placeholder_img}}" width="300">
                    </form>
                </div>
            </main>
        </div>
    </body>
</html>