<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <link href="/static/css/style.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa%7cOpen+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/swiper.min.css">
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.png" alt="Image is not available.">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/js/script.js"></script>
        <title>LEVO</title>
         <!-- måste innehålla intern swiper kod -->
    <style>
        .swiper-container {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 40px;
        }
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 350px;
            background:#1e272e;
            border-radius: 20px;
        }
    </style>
    </head>

    <body>
        <p id="current_user">{{placeholder_current_user}}</p>
        <nav>
            <a href="/about/">About us</a>
            <a id="login" href="/login/">Log in</a>
        </nav>

        <header>
            <a href="/" id="front_page_link">
                <img src="/static/img/Levo_image_avenir.png" width=350 height=260 alt="Image is not available.">
            </a>
        </header>

        <div id="progress_status">
            <div id="progress_bar"></div>
        </div>

        <main>
            <div id="questions">
                <form action="/generate/" method="POST">
                    <h2 id="h2_q1">What do you crave?</h2>

                    <div id="questions_1">
                        
                        <input type="checkbox" id="meat" name="meat" value="meat" {{meat_checked}}>
                        <label for="meat">Meat</label><br>
                        
                        <input type="checkbox" id="chicken" name="chicken" value="chicken" {{chicken_checked}}>
                        <label for="chicken">Chicken</label><br>
                        
                        <input type="checkbox" id="bird" name="bird" value="bird" {{bird_checked}}>
                        <label for="bird">Bird</label><br>
                        
                        <input type="checkbox" id="fish" name="fish" value="fish" {{fish_checked}}>
                        <label for="fish">Fish</label><br>

                        <input type="checkbox" id="seafood" name="seafood" value="seafood" {{seafood_checked}}>
                        <label for="seafood">Seafood</label><br>
                        
                        <input type="checkbox" id="game" name="game" value="game" {{game_checked}}>
                        <label for="game">Game</label><br>

                        <input type="checkbox" id="veg" name="veg" value="veg" {{veg_checked}}>
                        <label for="veg">Veg</label><br>
                        
                        <input type="checkbox" id="p_dont_know" name="p_dont_know" value="p_dont_know" {{p_dont_know_checked}}>
                        <label for="p_dont_know">I'm not sure!</label>
                    
                    </div>


                    <h2 id="h2_q2">Any preferences?</h2>
                    
                    <div id="questions_2">

                        <input type="checkbox" id="pasta" name="pasta" value="pasta" {{pasta_checked}}>
                        <label for="pasta">Pasta</label><br>
                        
                        <input type="checkbox" id="rice" name="rice" value="rice" {{rice_checked}}>
                        <label for="rice">Rice</label><br>
                        
                        <input type="checkbox" id="potato" name="potato" value="potato" {{potato_checked}}>
                        <label for="potato">Potato</label><br>
                        
                        <input type="checkbox" id="bread" name="bread" value="bread" {{bread_checked}}>
                        <label for="bread">Bread</label><br>

                        <input type="checkbox" id="vegetables" name="vegetables" value="vegetables" {{vegetables_checked}}>
                        <label for="vegetables">Vegetables</label><br>
                        
                        <input type="checkbox" id="c_dont_know" name="c_dont_know" value="c_dont_know" {{c_dont_know_checked}}>
                        <label for="c_dont_know">I don't have any preferences!</label>

                    </div>
                    
                    
                    <h2 id="h2_q3">?</h2>

                    <div id="questions_3">

                        <input type="checkbox" id="pasta" name="pasta" value="pasta" {{pasta_checked}}>
                        <label for="pasta">Pasta</label><br>
                        
                        <input type="checkbox" id="rice" name="rice" value="rice" {{rice_checked}}>
                        <label for="rice">Rice</label><br>
                        
                        <input type="checkbox" id="potato" name="potato" value="potato" {{potato_checked}}>
                        <label for="potato">Potato</label><br>
                        
                        <input type="checkbox" id="bread" name="bread" value="bread" {{bread_checked}}>
                        <label for="bread">Bread</label><br>

                        <input type="checkbox" id="vegetables" name="vegetables" value="vegetables" {{vegetables_checked}}>
                        <label for="vegetables">Vegetables</label><br>
                        
                        <input type="checkbox" id="c_dont_know" name="c_dont_know" value="c_dont_know" {{c_dont_know_checked}}>
                        <label for="c_dont_know">I don't have any preferences!</label>

                    </div>

                    <input type="hidden" name="used_ids" value="{{placeholder_used_ids}}"/>

                    <div id="buttons">
                        <button type="button" class="button" id="next">Next question!</button>
                        <button type="button" class="button" id="previous">Previous question!</button>
                        <button type="submit" class="button" id="submit">Give me a recipe, please!</button>
                    </div>
                </form>
                    
            </div>                   
                
            <div class="label-tag"><label for="your_recipe" id="label">Here's your recipes, enjoy!</label></div>
            <div class="swiper-container">
                <div class="swiper-wrapper" id="section1">
                    <div class="swiper-slide">
                        <a href="{{placeholder_link_0}}" target="_blank" class="text-tag">
                            <div class="imgBox"><img src="{{placeholder_img_0}}"></div>
                            <div class="details">
                                <p id="result_check">{{placeholder_title_0}}</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{{placeholder_link_1}}" target="_blank" class="text-tag">
                            <div class="imgBox"><img src="{{placeholder_img_1}}"></div>
                            <div class="details">
                                <p>{{placeholder_title_1}}</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{{placeholder_link_2}}" target="_blank" class="text-tag">
                            <div class="imgBox"><img src="{{placeholder_img_2}}"></div>
                            <div class="details">
                                <p>{{placeholder_title_2}}</p>
                            </div>
                        </a>
                    </div>
    
                </div>

                            <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </main>
        <!-- Swiper JS -->
        <script src="../static/js/swiper.min.js"></script>
        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper('.swiper-container', {
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 'auto',
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true,
                }, // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                },
            });
        </script>
    </body>
</html>