<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link href="/static/css/style.css" type="text/css" rel="stylesheet">
        <link href="/static/css/style_login.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.png" alt="Image is not available.">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/js/script_login.js"></script>
    </head>

    <body>
        <nav id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" id="close_nav" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/index/">Home</a>
            <a href="/about/">About</a>
            <a id="login" href="/login/">Log in</a>
        </nav>
    
        <div id="nav_pointer">
            <span id="open_nav" style="font-size:45px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>
    

        <header>
                <a href="/" id="front_page_link">
                    <img src="/static/img/Levo_image_avenir.png" width=350 height=260 alt="Image is not available.">
                </a>
        </header>

        <div id="progress_status">
            <div id="progress_bar"></div>
        </div>

        <main>
            <p id="current_form">{{placeholder_form}}</p>
            <form id="login_form" class="forms" action="/login_form/" method="POST">
                <h2>Sign in</h2>
                <p id="error_msg_login">{{placeholder_error_msg_login}}</p>
                <input type="text" name="log_username" id="log_username" placeholder="Username..." required autofocus value="{{placeholder_username_login}}"><br>
                <input type="password" name="log_password" id="log_password" placeholder="Password..." required value="{{placeholder_pass_login}}"><br>
                <button type="submit" class="buttons" id="login_btn">Login</button><br>
                <button type="button" id="switch_forms_btn">Don't have an account? Register here!</button>
            </form>

            <form id="register_form" class="forms" action="/register_form/" method="POST">
                <h2>Register</h2>
                <p id="error_msg_reg">{{placeholder_error_msg_reg}}</p>
                <input type="text" name="reg_username" id="reg_username" placeholder="Username..." value="{{placeholder_username_reg}}"><br>
                <input type="password" name="reg_password" id="reg_password" placeholder="Password..." value="{{placeholder_pass_reg}}"><br>
                <button type="submit" class="buttons" id="create_account_btn">Create account</button>
                <button type="button" id="switch_forms_btn_back">Go back to Log in!</button>
            </form>
        </main>
        <script>
                function openNav() {
                // Funktion for open navigation
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("nav_pointer").style.marginLeft = "250px";
                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }
      
            function closeNav() {
                // Funktion for close navigation
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("nav_pointer").style.marginLeft= "0";
                document.body.style.backgroundColor = "rgba(0,0,0,0)";
            }
        </script>
    
    </body>
        
</html>