<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa%7cOpen+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    <link rel="shortcut icon" type="image/png" href="static/img/favicon.png" alt="Image is not available.">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
    <title>My profile</title> 
</head>

<body>
    <p id="current_user">{{placeholder_current_user}}</p>
    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" id="close_nav" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/index/">Home</a>
        <a href="/about/">About</a>
        <a id="profile" href="/my_recipes/">Profile</a>
        <a id="login" href="/login/">Sign in</a>
        <a id="logout" href="/logout/">Log out</a>
    </nav>

    <div id="nav_pointer">
        <span id="open_nav" style="font-size:45px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>

    <div class="content">
        <header>
            <a href="/" id="front_page_link">
                <img src="/static/img/Levo_image_avenir.png" width=350 height=260 alt="Image is not available.">
            </a>
        </header>

        <div id="progress_status">
            <div id="progress_bar"></div>
        </div>

        <main>
            <a href="/my_recipes/">My recipes</a>
        </main>
    </div>
    <script>
        function openNav() {
            // Funktion for open navigation
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("nav_pointer").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            // Funktion for close navigation
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("nav_pointer").style.marginLeft = "0";
            document.body.style.backgroundColor = "rgba(0,0,0,0)";
        }
        //när användaren skrollar sidan så körs detta
        window.onscroll = function() {
            myFunction()
        };
        //få navbaren
        var navbar = document.getElementById("nav_pointer");
        //få offset positionen av navbaren
        var sticky = navbar.offsetTop;

        //lägga till en sticky class till navbaren när den har uppnått sin sticky position. ta bort sticky när man lämnar scroll positionen
        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }

    </script>
</body>

</html>
