<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <link href="/static/css/style.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa%7cOpen+Sans" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/swiper.min.css">
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.png" alt="Image is not available.">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/js/script.js"></script>
        <script>
            var $SCRIPT_ROOT = "{{ request.script_name }}";
        </script>
        <title>My profile</title>
    </head>

    <body>
        <p id="current_user">{{placeholder_current_user}}</p>
        <nav>
            <a href="/about/">About us</a>
            <a id="login" href="/login/">Log in</a>
        </nav>

            <header>
                <a href="/" id="front_page_link">
                    <img src="/static/img/Levo_image_avenir.png" width=350 height=260 alt="Image is not available.">
                </a>
            </header>
        
        <div id="progress_status">
            <div id="progress_bar"></div>
        </div>

        <main>

            <div id="meat_recipes">
                <h1>Meat</h1>
                % for recipe in saved_recipes:
                    % if recipe['category'] == "meat":
                        <div data-recipe_id="{{recipe['recipe_id']}}">
                            <h2><a href="{{recipe['source_url']}}">{{recipe['title']}}</a></h2>
                            <img src="{{recipe['image_url']}}" alt="Picture can't be found.">
                            <input type="checkbox" class="star" data-recipe_id="{{recipe['recipe_id']}}" data-title="{{recipe['title']}}" data-source_url="{{recipe['source_url']}}" data-image_url="{{recipe['image_url']}}" data-category="{{recipe['category']}}" checked>
                        </div>
                    % end
                % end
            </div>
        
            <div id="chicken_recipes">
                <h1>Chicken</h1>
                % for recipe in saved_recipes:
                    % if recipe['category'] == "chicken":
                        <div data-recipe_id="{{recipe['recipe_id']}}">
                            <h2><a href="{{recipe['source_url']}}">{{recipe['title']}}</a></h2>
                            <img src="{{recipe['image_url']}}" alt="Picture can't be found.">
                        </div>
                    % end
                % end
            </div>
        
            <div id="bird_recipes">
                <h1>Bird</h1>
                % for recipe in saved_recipes:
                    % if recipe['category'] == "bird":
                        <div data-recipe_id="{{recipe['recipe_id']}}">
                            <h2><a href="{{recipe['source_url']}}">{{recipe['title']}}</a></h2>
                            <img src="{{recipe['image_url']}}" alt="Picture can't be found.">
                        </div>
                    % end
                % end
            </div>
            
            <div id="fish_recipes">
                <h1>Fish</h1>
                % for recipe in saved_recipes:
                    % if recipe['category'] == "fish":
                        <div data-recipe_id="{{recipe['recipe_id']}}">
                            <h2><a href="{{recipe['source_url']}}">{{recipe['title']}}</a></h2>
                            <img src="{{recipe['image_url']}}" alt="Picture can't be found.">
                        </div>
                    % end
                % end
            </div>
        
            <div id="seafood_recipes">
                <h1>Seafood</h1>
                % for recipe in saved_recipes:
                    % if recipe['category'] == "seafood":
                        <div data-recipe_id="{{recipe['recipe_id']}}">
                            <h2><a href="{{recipe['source_url']}}">{{recipe['title']}}</a></h2>
                            <img src="{{recipe['image_url']}}" alt="Picture can't be found.">
                        </div>
                    % end
                % end
            </div>
        
            <div id="game_recipes">
                <h1>Game</h1>
                % for recipe in saved_recipes:
                    % if recipe['category'] == "game":
                        <div data-recipe_id="{{recipe['recipe_id']}}">
                            <h2><a href="{{recipe['source_url']}}">{{recipe['title']}}</a></h2>
                            <img src="{{recipe['image_url']}}" alt="Picture can't be found.">
                        </div>
                    % end
                % end
            </div>
            
            <div id="veg_recipes">
                <h1>Veg</h1>
                % for recipe in saved_recipes:
                    % if recipe['category'] == "veg":
                        <div data-recipe_id="{{recipe['recipe_id']}}">
                            <h2><a href="{{recipe['source_url']}}">{{recipe['title']}}</a></h2>
                            <img src="{{recipe['image_url']}}" alt="Picture can't be found.">
                        </div>
                    % end
                % end
            </div>
        
        </main>
    </body>

</html>