<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <link href="../static/css/style_profile.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    <link rel="shortcut icon" type="image/png" href="static/img/favicon.png" alt="Image is not available.">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/script_profile.js"></script>
    <script>
        var $SCRIPT_ROOT = "{{ request.script_name }}";

    </script>
    <title>My profile</title>
</head>

<body>
    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" id="close_nav" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/index/">Home</a>
        <a href="/about/">About</a>
        <a id="profile" href="/profile/">Profile</a>
        <a id="logout" href="/logout/">Log out</a>
    </nav>

    <div id="nav_pointer">
        <span id="open_nav" style="font-size:45px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <a href="/index/">LEVO</a>
    </div>

        <main>
            <h1 id="user_header"></h1>
            <div class="profile-header">
                <h1 class="title">{{placeholder_current_user}}</h1>
                <form action="/update_profile_img/" method="POST" class="profile-form" enctype="multipart/form-data">
                    <img class="profile-pic" src="/static/img/profile_img.jpg">
                    <input type="file" name="upload" class="file-upload"accept="image/*">
                    <div class="profile-buttons">
                        <button type="button" name="button" class="upload-button">Upload</button>
                        <input type="submit" value="Submit" class="submit">
                    </div>
                </form>
            </div>

            <div id="categories">
                <h2 id="recipe_header">My recipes</h2>
                <div class="outer">
                    <h1 data-count="{{count['meat']}}" class="left-side">Meat ({{count['meat']}})</h1>
                    <div class="flex-container">
                        % for recipe in saved_recipes:
                            % if recipe['category'] == "meat":
                                <div data-recipe_id="{{recipe['recipe_id']}}" class="flex-content" class="inner">
                                    <a href="{{recipe['source_url']}}" target="_blank">
                                        <div class="saved_img_box">
                                            <img src="{{recipe['image_url']}}" class="recipe_img" alt="Picture can't be found.">
                                            <h2 class="middle">{{recipe['title']}}</h2>
                                            <input type="checkbox" class="star" data-recipe_id="{{recipe['recipe_id']}}" data-title="{{recipe['title']}}" data-source_url="{{recipe['source_url']}}" data-image_url="{{recipe['image_url']}}" data-category="{{recipe['category']}}" checked>
                                        </div>
                                    </a>
                                </div>
                            % end
                        % end
                    </div>
                </div>

                <div class="outer">
                    <h1 data-count="{{count['chicken']}}" class="left-side">Chicken ({{count['chicken']}})</h1>
                    <div class="flex-container">
                        % for recipe in saved_recipes:
                            % if recipe['category'] == "chicken":
                                <div data-recipe_id="{{recipe['recipe_id']}}" class="flex-content" class="inner">
                                    <a href="{{recipe['source_url']}}" target="_blank">
                                        <div class="saved_img_box">
                                            <h2 class="middle">{{recipe['title']}}</h2>
                                            <img src="{{recipe['image_url']}}" class="recipe_img" alt="Picture can't be found.">
                                            <input type="checkbox" class="star" data-recipe_id="{{recipe['recipe_id']}}" data-title="{{recipe['title']}}" data-source_url="{{recipe['source_url']}}" data-image_url="{{recipe['image_url']}}" data-category="{{recipe['category']}}" checked>
                                        </div>
                                    </a>
                                </div>
                            % end
                        % end
                    </div>
                </div>

                <div class="outer">
                    <h1 data-count="{{count['bird']}}" class="left-side">Bird ({{count['bird']}})</h1>
                    <div class="flex-container">
                        % for recipe in saved_recipes:
                            % if recipe['category'] == "bird":
                                <div data-recipe_id="{{recipe['recipe_id']}}" class="flex-content" class="inner">
                                    <a href="{{recipe['source_url']}}" target="_blank">
                                        <div class="saved_img_box">
                                            <h2 class="middle">{{recipe['title']}}</h2>
                                            <img src="{{recipe['image_url']}}" class="recipe_img" alt="Picture can't be found.">
                                            <input type="checkbox" class="star" data-recipe_id="{{recipe['recipe_id']}}" data-title="{{recipe['title']}}" data-source_url="{{recipe['source_url']}}" data-image_url="{{recipe['image_url']}}" data-category="{{recipe['category']}}" checked>
                                        </div>
                                    </a>
                                </div>
                            % end
                        % end
                    </div>
                </div>

                <div class="outer">
                    <h1 data-count="{{count['fish']}}" class="left-side">Fish ({{count['fish']}})</h1>
                    <div class="flex-container">
                        % for recipe in saved_recipes:
                            % if recipe['category'] == "fish":
                                <div data-recipe_id="{{recipe['recipe_id']}}" class="flex-content" class="inner">
                                    <a href="{{recipe['source_url']}}" target="_blank">
                                        <div class="saved_img_box">
                                            <h2 class="middle">{{recipe['title']}}</h2>
                                            <img src="{{recipe['image_url']}}" class="recipe_img" alt="Picture can't be found.">
                                            <input type="checkbox" class="star" data-recipe_id="{{recipe['recipe_id']}}" data-title="{{recipe['title']}}" data-source_url="{{recipe['source_url']}}" data-image_url="{{recipe['image_url']}}" data-category="{{recipe['category']}}" checked>
                                        </div>
                                    </a>
                                </div>
                            % end
                        % end
                    </div>
                </div>

                <div class="outer">
                    <h1 data-count="{{count['seafood']}}" class="left-side">Seafood ({{count['seafood']}})</h1>
                    <div class="flex-container">
                        % for recipe in saved_recipes:
                            % if recipe['category'] == "seafood":
                                <div data-recipe_id="{{recipe['recipe_id']}}" class="flex-content" class="inner">
                                    <a href="{{recipe['source_url']}}" target="_blank">
                                        <div class="saved_img_box">
                                            <h2 class="middle">{{recipe['title']}}</h2>
                                            <img src="{{recipe['image_url']}}" class="recipe_img" alt="Picture can't be found.">
                                            <input type="checkbox" class="star" data-recipe_id="{{recipe['recipe_id']}}" data-title="{{recipe['title']}}" data-source_url="{{recipe['source_url']}}" data-image_url="{{recipe['image_url']}}" data-category="{{recipe['category']}}" checked>
                                        </div>
                                    </a>
                                </div>
                            % end
                        % end
                    </div>
                </div>

                <div class="outer">
                    <h1 data-count="{{count['veg']}}" class="left-side">Veg ({{count['veg']}})</h1>
                    <div class="flex-container">
                        % for recipe in saved_recipes:
                            % if recipe['category'] == "veg":
                                <div data-recipe_id="{{recipe['recipe_id']}}" class="flex-content" class="inner">
                                    <a href="{{recipe['source_url']}}" target="_blank">
                                        <div class="saved_img_box">
                                            <h2 class="middle">{{recipe['title']}}</h2>
                                            <img src="{{recipe['image_url']}}" class="recipe_img" alt="Picture can't be found.">
                                            <input type="checkbox" class="star" data-recipe_id="{{recipe['recipe_id']}}" data-title="{{recipe['title']}}" data-source_url="{{recipe['source_url']}}" data-image_url="{{recipe['image_url']}}" data-category="{{recipe['category']}}" checked>
                                        </div>
                                    </a>
                                </div>
                            % end
                        % end
                    </div>
                </div>
            </div>

            <div id="settings">
                <div class="outer">
                    <h1 data-count="1" class="left-side" id="profile_settings">Settings</h1>
                    <div class="inner" id="inner_profile">
                        <form action="/save_settings/" method="POST" class="forms">
                            <h2>Settings</h2><br>
                            <p id="error_msg">{{placeholder_error_msg}}</p>
                            <label for="email">Email</label><br>
                            <input type="text" name="email" id="email" value="{{placeholder_email}}"><br>
                            <label for="pass">Current password</label><br>
                            <input type="password" type="password" name="pass" id="pass"><br>
                            <label for="new_pass">New password</label><br>
                            <input type="password" name="new_pass" type="password" id="new_pass"><br>
                            <div id="pass_info" class="reg_info">
                                <p>Password must be less than 25 characters...</p>
                            </div>
                            <label for="verify_pass">Verify password</label><br>
                            <input type="password" name="verify_pass" type="password" id="verify_pass"><br>
                            <button type="submit" id="update_settings">Update settings</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    <script>
        function openNav() {
            // Function for open navigation
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("nav_pointer").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";

        }

        function closeNav() {
            // Function for close navigation
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("nav_pointer").style.marginLeft = "0";
            document.body.style.backgroundColor = "rgba(0,0,0,0)";
        }
        /*när användaren skrollar sidan så körs detta
        window.onscroll = function() {
            myFunction()
        };
        //få navbaren
        var navbar = document.getElementById("nav_pointer");
        
        //få offset positionen av navbaren
        var sticky = navbar.offsetTop;

        //lägga till en sticky class till navbaren när den har uppnått sin sticky position. ta bort sticky när man lämnar scroll positionen
        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }*/

        $(document).ready(function() {

    
    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.profile-pic').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
        }
    }
    

    $(".file-upload").on('change', function(){
        readURL(this);
    });
    
    $(".upload-button").on('click', function() {
       $(".file-upload").click();
    });
});
    </script>
</body>

</html>
