body {
    color: white;
    font-family: 'Yantramanav', sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

main {
    padding: 30px 10% 0 10%;
}

.forms {
    background-color: rgba(255, 255, 255, 0.295);
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 30%;
    text-align: center;
    padding: 2%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.forms > h2 {
    margin-top: 0;
    color: black;
    text-shadow: none;
    margin-bottom: 5px;

}

.forms input {
    padding: 5%;
    width: 80%;
    border-radius: 2rem;
    background-clip: content-box;
    margin-bottom: 7px;
    margin-top: 7px;
    background-color: rgba(0, 0, 0, 0);
    border:1px solid rgba(0, 0, 0, 0.5);
}

label {
    float: left;
    margin-left: 25px;
    font-weight: bold;
}

.forms input:focus {
    outline: none;
    box-shadow: 0px 0px 10px black;
}

.forms .buttons {
    font-weight: 600;
    color: #fff;
    background-color: rgb(85, 177, 85);
    width: 80%;
    border-radius: 1rem;
    padding: 3%;
    border: none;
    cursor: pointer;
}

.forms .buttons:hover {
    background-color: rgb(64, 134, 64);
}

#switch_forms_btn, .switch_forms_btn_back, #switch_forms_btn_forgot {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    font-size: 16px;
    font-family: 'Yantramanav', sans-serif;
    text-decoration-line: underline;
}

#error_msg_login, #error_msg_reg, #error_msg_forgot {
    font-size: 14px;
    color: red;
    margin-top: 20px;
}

#pass_info, #username_info {
    font-size: 10px;
    display: none;
    position:absolute;
    padding:7px;
    background:#fefefe;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
} 

.error_border {
    border: 1px solid red !important;
}

@media screen and (max-width: 950px) {
    #login_form {
        width: 50%;
    }
    #forgot_form {
        width: 60%; 
    }
    #forgot_email {
        font-size: 20px;
        width: 70%;
    }
    #create_account_btn {
        margin-top: 10px; 
        font-size: 20px;
    }
    .switch_forms_btn_back {
        margin-top:5%;
        margin-bottom: 10px;
    }
    .forms > h2 {
        margin-top: 20px;
    }

    #register_form {
        width: 50%; 
    }
    label {
        font-size: 20px;
    }
}