body {
    margin: 0;
    height: 100%;   
}

#container {
    background-image: url("../static/img/background_food.jpg");
    background-size: cover;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}