body{
    margin: 0;
    background-image: url('/static/img/tomatoes-and-basil-on-the-table-in-kitchen-189-medium.jpg');
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Comfortaa', cursive;
}

#container{
    background: rgba(0, 0, 0, 0.4);
    min-width: 100%;
    padding-bottom: 200px;
}

header{
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 4px 4px 6px #000000;
    font-size: 75px;
}
h1{
    color: white;
    width: 50%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 5px rgb(48, 48, 48);
    padding: 15px;
    text-align: center;
    margin: 25px 0px;
}
h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.questions{
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 20px;
    padding: 15px;
}

form{
    display: block;
}
.get_recipe{
    display: flex;
    justify-content: center;
    background-color: rgb(3, 63, 6);
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    margin: 20px 0;
}

.hidden{
    visibility: hidden;
}

a, a:visited{
    color: white;
    font-size: 1.5em;
}
