body {
    margin: 0;
    min-height: 100%;
    max-height: 100%; 
    background-image: url("../static/img/background_food.jpg");   
}

#container {
    margin-top: 0;
    background-image: url("../static/img/background_food.jpg");
    background-size: cover;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#container > h1 {
    margin-top: 0;
}
