body {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    color: white;
    text-align: center;
}

p{
    color: white;
}

main{
    color: ghostwhite;
    font-size: 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    margin-bottom: 20%;
}