html {
    background: url("/static/img/food1.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    max-height: 100%; 
}

#container > h1 {
    margin-top: 0;
}

.home_links {
    text-decoration: none;
    padding: 4% 6%;
    /*background-color: rgba(216, 215, 215, 0.3);*/
    background-color: rgba(139, 201, 165, 0.4); /*denna är lite najs*/
    /*background-color: rgba(10, 10, 10, 0.6);*/
    color:white;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-family: 'Yantramanav', sans-serif;
    box-sizing: border-box;
}

.home_links:hover {
    box-shadow: 0 0 10px;
}

#login_link {
    padding: 4% 8%;
}

#home_page {
    width: 40%;
    margin: auto;
    padding-top: 200px;
}

#home_page > #two_options {
    display: flex;
    justify-content: center;
}

