.inner{
    display: none;
}

.outer > h1{
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + content{
    padding-top: 40px;
}

#categories{
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    clear: both;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Sriracha', cursive;
}

.left-side{
    margin-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.flex-content{
    border-radius: 20px;
    margin: 30px;
    overflow: hidden;
}

.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.flex-content:hover .img{
    opacity: 0.3;
}

.flex-content:hover .middle{
    opacity: 1;
}

h1{
    color: white;
}

h2{
  background-color: black;
  color: white;
  font-size: 16px;
}

.flex-content > img {
    width: 100%;
    height:100%;
}
