@charset "utf-8";

html{
    background: -moz-linear-gradient(204deg, rgba(255,0,0,1) 0%, rgba(0,255,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,255,255,1)), color-stop(100%, rgba(255,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(204deg, rgba(255,0,0,1) 0%, rgba(0,255,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(204deg, rgba(255,0,0,1) 0%, rgba(0,255,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(204deg, rgba(255,0,0,1) 0%, rgba(0,255,255,1) 100%); /* ie10+ */
    background: linear-gradient(246deg, rgba(255,0,0,1) 0%, rgba(0,255,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#ff0000',GradientType=1 ); /* ie6-9 */
    min-height: 100%;
}

body{
    margin: 0;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    font-family: Helvetica, Arial, sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#nav_pointer {
    transition: margin-left .5s;
    padding: 16px;
    }

#open_nav{
    color: white;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

header{
    display: flex;
    justify-content: center;
}

header > img {
    margin: -35px 0;
}

h2{
    text-align: center;
    color: white;
    font-size: 35px;
    text-shadow: 9px 0px 4px #000000;
}
#questions{
    display: flex;
    justify-content: center;
    color: ghostwhite;
    text-shadow: 9px 2px 4px #000000;
    font-size: 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}

form{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding-bottom: 50px;
}

#label {
    display: block;
    text-align: center;
    color: white;
}

#questions_1, #questions_2, #questions_3{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
    background: transparent;
    margin: 8px auto 8px auto;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }
  
.button:hover {
    text-decoration: underline;
  }

#buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.extra{
    font-size: 16px;
    text-decoration: none;
}

a, a:visited{
    color: white;
    font-size: 1.5em;
}

#progress_status {
    width: 30%;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
}

#progress_bar { 
    width: 0;
    height: 5px; 
    background-color: rgb(51, 223, 35); 
    text-align: center; 
    line-height: 32px; 
    color: white;
} 

.swiper-slide .imgBox{
    width: 100%;
    height: 65%;
    overflow: hidden;
}

.swiper-slide .imgBox img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.details{
    font-size: 20px;
    color: whitesmoke;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 20px;
    font-family: 'Sriracha', cursive;
    
}

.swiper-pagination-bullet {
    opacity: 1;
    border: 3px solid white;
    background-color: transparent;
}
.swiper-pagination-bullet-active {
    background-color: white;
}

.label-tag{
    margin-top: 40px;
}

.text-tag{
    text-decoration: none;
}

.disabled, .disabled:hover{
    color: gray;
    border-color: gray;
    text-decoration: none;
    cursor: initial;
}

.star {
    visibility: hidden;
    font-size: 60px;
    cursor: pointer;
    color: rgb(254,252,234);
}
.star:before {
    content: "\2606";
    visibility: visible;
}
.star:checked:before {
    content: "\2605";
}